* {	box-sizing: border-box;}

#content {margin-top: 10px;}

#main-container {width:75%; margin: 10px; float: left;}

#main-container #current {min-height: 200px; width: 100%; background-color: red; float: left; }

#main-container #potential {min-height: 200px; width: 48%; background-color: red; float: left;margin-top: 20px;}

#main-container #news {min-height: 200px; width: 48%; background-color: red; float: right;margin-top: 20px;}


#sidebar {width: 22%; margin-top: 10px; float: right; }

#sidebar #searchMenu {	padding: 10px; }

#sidebar #rightMenu {padding: 10px; margin-top: 20px; }


/* 
.___  ___.   ______   .______    __   __       _______ 
|   \/   |  /  __  \  |   _  \  |  | |  |     |   ____|
|  \  /  | |  |  |  | |  |_)  | |  | |  |     |  |__   
|  |\/|  | |  |  |  | |   _  <  |  | |  |     |   __|  
|  |  |  | |  `--'  | |  |_)  | |  | |  `----.|  |____ 
|__|  |__|  \______/  |______/  |__| |_______||_______|
                                                       
*/


@media screen and (max-width: 450px) {
  #main-container {
  }


#main-container #potential { width: 100%;}
#main-container #news { width: 100%;}

}






/*
.___________.    ___      .______    __       _______ .___________.___________. _______ 
|           |   /   \     |   _  \  |  |     |   ____||           |           ||   ____|
`---|  |----`  /  ^  \    |  |_)  | |  |     |  |__   `---|  |----`---|  |----`|  |__   
    |  |      /  /_\  \   |   _  <  |  |     |   __|      |  |        |  |     |   __|  
    |  |     /  _____  \  |  |_)  | |  `----.|  |____     |  |        |  |     |  |____ 
    |__|    /__/     \__\ |______/  |_______||_______|    |__|        |__|     |_______|
                                                                                        
*/


@media screen and (max-width: 730px) {
  #main-container, #sidebar {
  	width: 100%;
  }

  #projectTitle {display: inline-block;margin-left: 20px;margin-top: -50px}

  #userSpace {width: 140px;display: inline-block;}

  #searchMenu {width: 48%;margin-left: 10px;}

  #rightMenu {display: none; }
}