* {	box-sizing: border-box;}

#content {margin-top: 10px;}

#main-container {width:75%; margin: 10px; float: left;}

#main-container #current {min-height: 200px; width: 100%; background-color: #57bd74; float: left; }

#main-container #potential {min-height: 200px; width: 48%; background-color: #a2a0a1; float: left;margin-top: 20px;}

#main-container #news {min-height: 200px; width: 48%; background-color: #ef3125; float: right;margin-top: 20px;}


#sidebar {width: 22%; margin-top: 10px; float: right; }

#sidebar #searchMenu {	padding: 10px; }

#sidebar #rightMenu {padding: 10px; margin-top: 20px; }

#keywords {width: 100%;}

/* 
.___  ___.   ______   .______    __   __       _______ 
|   \/   |  /  __  \  |   _  \  |  | |  |     |   ____|
|  \  /  | |  |  |  | |  |_)  | |  | |  |     |  |__   
|  |\/|  | |  |  |  | |   _  <  |  | |  |     |   __|  
|  |  |  | |  `--'  | |  |_)  | |  | |  `----.|  |____ 
|__|  |__|  \______/  |______/  |__| |_______||_______|
                                                       
*/


@media screen and (max-width: 450px) {
  #main-container {min-width: 320px;
  }

  #logo {
  	width: 85px;
  }

  #main-container #potential { width: 100%;min-width: 320px;}
  #main-container #news { width: 100%;min-width: 320px;}

  #projectTitle {margin-top: 90px;}
  #searchMenu {width: 100%; min-width: 320px;}
	.update {float: none;margin-top: 0;}

  #current .right, #current .left {float: none;width: 100%;}

}






/*
.___________.    ___      .______    __       _______ .___________.___________. _______ 
|           |   /   \     |   _  \  |  |     |   ____||           |           ||   ____|
`---|  |----`  /  ^  \    |  |_)  | |  |     |  |__   `---|  |----`---|  |----`|  |__   
    |  |      /  /_\  \   |   _  <  |  |     |   __|      |  |        |  |     |   __|  
    |  |     /  _____  \  |  |_)  | |  `----.|  |____     |  |        |  |     |  |____ 
    |__|    /__/     \__\ |______/  |_______||_______|    |__|        |__|     |_______|
                                                                                        
*/


@media screen and (max-width: 730px) {
  #main-container, #sidebar {
  	width: 97%;
  }

  #sidebar {
    float: left;
  }

	#menu-mobile.on {display: block;}


  #projectTitle {display: block;margin:0;position: relative;top:0;left:0;}

  #userSpace {width: 140px;display: block;position: absolute;top: 0;right: 0;}
  #userSpace #buttonList{padding: 0;}

  #searchMenu {width: 48%;margin-left: 10px;}

	#mobil-menu {
		display: block;
	}
	#rightMenu {display: none; }
}
