/* 
.___  ___.   ______   .______    __   __       _______ 
|   \/   |  /  __  \  |   _  \  |  | |  |     |   ____|
|  \  /  | |  |  |  | |  |_)  | |  | |  |     |  |__   
|  |\/|  | |  |  |  | |   _  <  |  | |  |     |   __|  
|  |  |  | |  `--'  | |  |_)  | |  | |  `----.|  |____ 
|__|  |__|  \______/  |______/  |__| |_______||_______|
                                                       
*/


@media screen and (max-width: 320px) {
  .bloc {
    display:block;
    clear:both;
  }
}



@media screen and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}



/*
.___________.    ___      .______    __       _______ .___________.___________. _______ 
|           |   /   \     |   _  \  |  |     |   ____||           |           ||   ____|
`---|  |----`  /  ^  \    |  |_)  | |  |     |  |__   `---|  |----`---|  |----`|  |__   
    |  |      /  /_\  \   |   _  <  |  |     |   __|      |  |        |  |     |   __|  
    |  |     /  _____  \  |  |_)  | |  `----.|  |____     |  |        |  |     |  |____ 
    |__|    /__/     \__\ |______/  |_______||_______|    |__|        |__|     |_______|
                                                                                        
*/