body{
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
	background-image: url('../images/background.png');
}

/* STYLE FOR THE HEADER */

#container{
	margin-left: 2%;
	margin-right: 2%;
}

#main-container{
	font-family: Equal Sans Demo;
	font-size: 20px;
}

#header {
	border-bottom:1px solid #a2a0a1;
	position: relative;
}

#mobil-menu {
	display: block;
	width: 35px;
	height: 30px;
	background-image: url('../images/picto_menu.png');
	display: none;
	position: absolute;
	right: 10px;
	top: 100px;
	background-repeat: no-repeat;
}

#footer {
	clear: both;
	padding: 10px;
	color: #a2a0a1;
}

#footer a {
	font-size: 20px;
	color: #a2a0a1;
}

#footer #imie-link {
	margin-left: 30px;
}

#footer #term-use {
	float: right;
	margin-right: 30px;
}

#logo{
	background-image: url('../images/logo-imie.png');
	background-repeat: no-repeat;
	height: 86px;
	width: 184px;
	display: inline-block;
	margin-top: 10px;
}

#projectTitle{
	display: inline;
	font-size: 30px;
	font-family: arial;
	color: #47BBBC;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -125px;
}

#userSpace div{
	font-size: 18px; 
}

#userSpace{
	width: 165px;
	display: inline;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

#buttonList li{
	display: inline;
	margin-left: 5%;
}


#buttonList li a{
	display: inline-block;
	height: 30px;
	width: 30px;;
}

#menu-mobile li{
	list-style-type: none;
}
#menu-mobile {
	display: none;
	padding: 0;
}

#menu-mobile li a {
	text-decoration: none;
	display: block;
	width: 100%;
	background-color: #fff;
	padding: 5px 20px;
	color: #a2a0a1;
	font-size: 20px;
}

#menu-mobile li a:hover {
	color: #fff;
	background-color: #a2a0a1;
}

#buttonList li.logout a{background-image: url('../images/logout.png');background-repeat: no-repeat;background-position: 5px;}
#buttonList li.notif a{background-image: url('../images/notif.png');background-repeat: no-repeat;background-position: 5px;}
#buttonList li.profil a{background-image: url('../images/profil.png');background-repeat: no-repeat;background-position: 5px;}
/* END STYLE FOR THE HEADER */


/* STYLE FOR THE RIGHT MENU */

#searchMenu {
	background-color: #FDB515;
}
#searchMenu select {
	width: 100%;
	margin: 10px 0;
}
#searchMenu input {
	margin: 10px 0;
	padding-left:5px; 
}

#searchMenu button {
	color : #fff;
	border:none;
	background-color: #57bd74;
	width: 100%;
	padding: 5px;
	font-weight: bold;
	font-family: 'calibri';
	font-size: 16px;
}

#rightMenuList {
	padding: 0;
}

#rightMenuList li a {
	text-decoration: none;
	color: #000;
	font-family: 'calibri';
	font-size: 18px;
}

#searchMenu h2, #rightMenu h2 {
	font-family: 'calibri';
	font-size: 20px;
	margin: 0;
}

#rightMenu {
	background-color: #49B9BD;
}

#rightMenuList {
	list-style: none;
}

#login-form {
	width: 50%;
	margin-left: auto;
	margin-top: 100px;
}

.cf {clear: both;}

#profil.description p {
	display: inline-block;
}
#profil.description .attribute {
	width: 30%; text-align: right;display: inline-block;float: left;margin: 10px 0;
}
#profil.description .value {
	width: 70%;display: inline-block;float: right;margin: 10px 0;padding: 0 10px;
}

.update {float: right; margin-top: -45px;text-decoration: none; color: #fff;display: block;padding: 5px 10px;background-color: #57bd74;}

.panel-admin {display: none;}
.panel-admin.on {display: block;padding: 0 10px;}
.panel-admin li {
	list-style-type: none;
}
#rightMenuList .panel-admin li a{
	font-size: 16px;
}

#current > div {
	padding: 10px 20px;
	width: 50%;
}
#current > div a{
	display: block;
	min-height: 100px;
	text-decoration:none; 
	color: #000;
}
#current h2, #potential h2, #news h2 {
	margin-left: 20px
}

#current .right {
	float: right;
}
#current .left {
	float: left;
}


#news , #potential {position: relative;}
#news h2, #potential h2 {margin-bottom: 0;}

#news .infos, #potential .infos {
	padding: 10px 20px;
}

#news .infos h3, #potential .infos h3 {
	margin-top: 0;
}
#news .rate, #potential .rate{position: absolute;right: 10px; top: 60px;height: 20px;
width: 106px;
background-color: #fff;
line-height: 20px;
text-align: center;}

#news .rate .percent, #potential .rate .percent{background-color: #57bd74;height: 15px;position: absolute;z-index: 1;
top: 3px;
left: 3px;}
#news .rate .number, #potential .rate .number{position: absolute;width: 100%;height: 100%;z-index: 2;}


#logo.login {
    margin-bottom: 30px;
}

#login-form div label {
display: block;
