{% extends "::base.html.twig" %}

{% block body %}

Liste des projets :

{% if  projects %}
	<ul>
		{% for project in projects %}
			<li>
				<p><a href="{{ path('projects_one_project', {'id': project.idProjects} ) }}">{{project.name}}</a></p>
			</li>
			
		{% endfor %}
	</ul>
{% endif %}

<a href="{{ path('projects_add') }}">Ajouter un projet</a>
{% endblock %}


