{% extends "::base.html.twig" %}

{% block body %}

Liste des projets :

{% if  projects %}
	<ul>
		{% for project in projects %}
			<li>
				<p><a href="project/{{project.idProjects}}">{{project.name}}</a></p>
			</li>
			
		{% endfor %}
	</ul>
{% endif %}

<a href="projects/add">Ajouter un projet</a>
{% endblock %}