{% extends "::headerlogin.html.twig" %}

{% block body %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-error">{{ error.message }}</div>
  {% endif %}

  <form id="login-form" action="{{ path('login_check') }}" method="post">

    <div id="logo" class="login"></div>

    <div>
      <label for="username">Login :</label>
      <input type="text" id="username" name="_username" value="{{ last_username   }}" />
    </div>

    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />
    </div>
    <br />
    <input type="submit" value="Connexion" />
  </form>

{% endblock %}