{% extends "::base.html.twig" %}

{% block body %}

<h2>Listes des compétences : </h2>
<a href="skills/add" class="update">Ajouter une compétence</a>

{% if  skills %}
	<ul>
		{% for skill in skills %}
			<li>{{skill.libelle}}</li>
		{% endfor %}
	</ul>
{% endif %}


{% endblock %}