{% extends "::base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/Imie/css/project.css') }}">
{% endblock %}

{% block body %}

<h2>Listes des compétences : </h2>
<a href="skills/add" class="update">Ajouter une compétence</a>

{% if  skills %}
	<ul class="list">
		{% for skill in skills %}
			<li>{{skill.libelle}}</li>
		{% endfor %}
	</ul>
{% endif %}


{% endblock %}