{% extends "::base.html.twig" %}

{% block body %}

Listes des compétences : 

{% if  skills %}
	<ul>
		{% for skill in skills %}
			<li>{{skill.libelle}}</li>
		{% endfor %}
	</ul>
{% endif %}

<a href="skills/add">Ajouter une compétence</a>

{% endblock %}